.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listing-container {
  display: flex;
  flex-wrap: wrap;
}

.listing-card {
  margin: 15px;
  box-sizing: border-box;
}

.search-item
{
  width:150%;
  height: 50%;
  text-align: center;
  margin-right: 15px;
  margin-top: 10px;
}

.search-buttons
{
  margin-top: 7px;
  height: 50%;
}

#search-div
{
  position: relative;
  display: flex;
  justify-content: center;
  height: 350px;
  width: 200;

  padding-bottom: 20px;
}

#myVideo1 {
  position: relative;
  height: 350px;
  width: 80vw;


}
.myVideo {
  /* position: relative;
  height: 300px; */
  width: 1200px;

}
#search-form
{
  position: absolute;
  display: flex;
  top: 100px;
  align-items: center;

  width:65%;
  justify-content: center;
  /* height:100%; */
}  


#location-button
{
  margin-left: 10px;
}

#card-image
{
  height:200px;
}

.details-accordion
{
  margin-top: 20px;
}
#form-container {
  width: 480px;
  text-align: left;
  background-color: white;
}

.search-item {
  margin-left: 30px;
  margin-right: 10px;
  
}



#page-turner {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.item {
  margin-left:10px;
  margin-right:10px;
}

.main-container {
  background-image: url("../public/images/houses.jpg");
  background-size: cover;
}

.carousel-inner > .item >img{
  min-height : 300px;
  max-height : 300px;
  width : 100%;
}

#like-button
{
  width: 85%;
}

#zip-code
{
  margin-top: 5px;
}
/* Nav Bar */
.NavBar-Container {
  height: 80px;
  
}

#map-marker
{
  width:18px;
  height:30px;
}

#popover-basic
{
  width:600px
}