.App {
  text-align: center;
  background-color: #282c34;;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listing-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
}

.listing-card {
  margin: 15px;
  box-sizing: border-box;
  position: relative;
  top: -800px;
  color: #E7E7E7;
}

.favorites-card {
  margin: 15px;
  box-sizing: border-box;
  color: #E7E7E7;
}

.search-item
{
  width:150%;
  height: 50%;
  text-align: center;
  margin-right: 15px;
  margin-top: 10px;
}

#search-bar
{
  width:400%
}

.search-buttons
{
  margin-top: 7px;
  height: 50%;
}

#search-div
{
  position: relative;
  display: flex;
  justify-content: center;
  height:500px;
  width: 100%;
  top: 100px;
  z-index:1;
}

#myVideo1 {
  position: relative;
  height: 800px;
  bottom: 800px;
  z-index:0;
}
.myVideo {
  /* position: relative;
  height: 300px; */
  /* width: 1200px; */

}
#search-form
{
  position: absolute;
  display: flex;
  top: 100px;
  align-items: center;

  width:65%;
  justify-content: center;
  /* height:100%; */
}  


#location-button
{
  margin-left: 10px;
}

#card-image
{
  height:200px;
}

.details-accordion
{
  margin-top: 20px;
  color: red;
}

.accordion-body
{
  background-color:#282c34;
  color: white;
  border-color: #282c34
}

.accordion-header
{
  background-color:#282c34;
}

#form-container {
  width: 480px;
  height: 85%;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 45px;
  background-color: white;
}

.search-item {
  margin-left: 30px;
  margin-right: 10px;
}



#page-turner {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#pagination
{
  position: relative;
  bottom: 800px;
}

.item {
  margin-left:10px;
  margin-right:10px;
}

.main-container {
  background-image: url("../public/images/houses.jpg");
  background-size: cover;
}

.carousel-inner > .item >img{
  min-height : 300px;
  max-height : 300px;
  width : 100%;
}

#like-button
{
  width: 85%;
}

#zip-code
{
  margin-top: 5px;
}
/* Nav Bar */
.NavBar-Container {
  height: 85px;
  
}

#map-marker
{
  width:18px;
  height:30px;
}

#popover-basic
{
  width:600px
}

button.accordion-button.collapsed
{
  background-color: #282c34;
  color: white;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.filler
{
  height: 800px;
}
.footer {
  height: 40px;
}

.pagination .page-link {
  background: #282c34;
  color: white;
}

.form-header
{
  position: relative;
  top: 30px;
  color:#E7E7E7;
}

.form-label
{
  color:#E7E7E7;
}

#form-container
{
  background-color:#282c34;
  margin-bottom: 40px;
}

#email-input
{
  position: relative;
  top: 5px;
}